/*body * {
  outline: 1px solid red;
}*/

/*base*/
body * {
  font-family: 'verdana', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }

a {
  text-decoration: none;
}

/*layout*/
html, body, header, main {
  width: 100%;
}

html, body, main {
  height: 100%;
}

header {
  height: 75px;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
}

section {
  /*offset section height by header height*/
  min-height: calc(100% - 75px);
  position: relative;
  top: 75px;
}

.section-container {
  /*position: relative;
  bottom: calc(50% + 75px);
  transform: translateY(-50%);*/
}

/*module-nav*/
nav, ul, li, a {
  width: 100%;
}

nav, nav div, ul, li {
  height: 100%;
}

nav div {
  width: 75px;
  font-size: 3em;
}

i {
  position: relative;
  left: 17px;
  /*top: 5px;*/
}

ul {
  display: none;
  background-color: transparent;
}

li {
  text-align: center;
  height: 100%;
  background-color: rgba(255, 255, 255, .75);
}

li:hover {
  background-color: rgba(0, 0, 0, .75);
}

a {
  position: relative;
  top: 35%;
  color: black;
  text-transform: uppercase;
}


li:hover a {
  color: white;
}

/*module-project*/
article img {
  width: 100%;
  max-width: 600px;
}

article {
  margin-bottom: 2em;
}


/*General*/
.template {
  display: none;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-align-section {
  top: calc(50% - 75px);
}

.horizontal-center {
  margin: 0 auto;
}

.left-right-margin {
  width: 80%;
  min-width: 150px;
}

.show {
  display: block;
}
