/*module-nav*/
nav, ul, li, a {
  width: 100%;
}
nav, nav div, ul, li {
  height: 100%;
}
nav div {
  width: 75px;
  font-size: 3em;
}
i {
  position: relative;
  left: 17px;
  /*top: 5px;*/
}
ul {
  display: none;
  background-color: transparent;
}
li {
  text-align: center;
  height: 100%;
  background-color: rgba(255, 255, 255, .75);
}
li:hover {
  background-color: rgba(0, 0, 0, .75);
}
a {
  position: relative;
  top: 35%;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 4px;
}
li:hover a {
  color: white;
}

/*module-project*/
article img {
  width: 100%;
  max-width: 600px;
  display: block;
}
article {
  margin-bottom: 2em;
}

.ayo-container {
  width: 100%;
}
.ayo, .ayo2, .ayo3 {
  font-family: 'Bungee Inline', cursive;
  font-size: 22vw;
  line-height: 1;
  display: inline-block;
  letter-spacing: .15em;
}
.ayo2 {
  font-size: 13.5vw;
}
.ayo3 {
  display: block;
}

.indent1 {
  padding-left: 2em;
}

/*General*/
.template {
  display: none;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-align-section {
  top: calc(50% - 75px);
}

.horizontal-center {
  margin: 0 auto;
}

.left-right-margin {
  width: 80%;
  min-width: 150px;
}

.show {
  display: block;
}

.clearfix {
  clear: both;
}
